@import 'utilities/scss/_vars';
@import 'utilities/scss/_mixins';

.button {
  @include reset-button;
}

.sorting-button {
  padding: $spacing--full;
  background-color: $color--gray-ccc;
  width: 100%;
}
