@import '../../utilities/scss/_vars';

.toast {
  background-color: $color--gray-ccc;
  color: $color--black;
  padding: $spacing--full-and-half;
  text-align: center;
  transition: transform $transition--default;
  font-size: smaller;

  &:not(.is-active) {
    transform: translateY(100%);
  }

  &.is-clickable {
    cursor: pointer;
  }
}
