@import '../../utilities/scss/_mixins';
@import '../../utilities/scss/_vars';

.toast {
  @include reset-button();
  background-color: $color--gray-ccc;
  color: $color--black;
  padding: $spacing--full-and-half;
  text-align: center;
  transition: transform $transition--default;
  font-size: smaller;
  width: 100%;

  &:not([disabled]) {
    transform: translateY(-100%);
  }
}
