@use 'utilities/scss/vars' as *;
@use 'utilities/scss/mixins' as *;

.spell-list-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  height: 100%;
}

.spell-list {
  @include touch-overflow;

  height: 100%;
}

.no-results {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $color--gray-666;

  &__header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: larger;
    margin-bottom: $spacing--half;
  }
}
