@import '../../utilities/scss/_vars';
@import '../../utilities/scss/_mixins';

$spell-subheading--border-width: 2px;

.spell {
  position: relative;
  height: 100%;

  // Footnotes
  a[href^='#'] {
    color: inherit;
    text-decoration: none;
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include small {
      // Extra padding to account for iPhone X
      padding-bottom: env(safe-area-inset-bottom);
    }
  }

  &__heading {
    font-weight: bold;
    text-transform: uppercase;
    font-size: large;
  }

  &__subheading {
    text-transform: uppercase;
    color: $color--gray-666;
    padding-bottom: calc(
      #{$spacing--quarter} - #{$spell-subheading--border-width}
    );
    border-bottom: $spell-subheading--border-width solid;
    margin-bottom: $spacing--half;
  }

  &__minor-heading {
    @include inlineHeading;
    font-weight: bold;
    font-style: italic;
  }

  &__description {
    & + & {
      margin-top: $spacing--content;
    }
  }

  &__page {
    margin-top: $spacing--content;
  }

  &__minor-info {
    font-size: small;
  }
}

.spell-header {
  display: flex;
  width: 100%;

  &__section {
    flex: 1 1 auto;

    &--cta {
      flex: 0 0 auto;
      margin-left: $spacing--full-and-half;
    }
  }
}

.spell-close-button {
  @include reset-button;
  font-size: xx-large;
}

.spell-section {
  flex: 0 0 auto;
  width: 100%;

  &--content {
    margin: 0 auto;
    max-width: $width--content;
  }

  &--with-padding {
    @include small {
      padding-right: $spacing--full;
      padding-left: $spacing--full;
      margin-top: $spacing--full;
      margin-bottom: $spacing--full;
    }

    @include mediumAndLarge {
      padding-right: $spacing--full-and-half;
      padding-left: $spacing--full-and-half;
      margin-top: $spacing--full-and-half;
      margin-bottom: $spacing--full-and-half;
    }

    & + & {
      margin-top: 0;
    }
  }

  &--scroll {
    flex: 1 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
  }
}

.spell-category {
  margin-top: $spacing--half;
  font-size: small;

  > .spell-level-school {
    font-style: italic;
  }
}

.spell-detail {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-top: 2px solid $color--gray-666;
  background-color: $color--gray-eee;

  @include small {
    padding: $spacing--half;
  }

  &__item {
    flex: 0 0 50%;
    padding: $spacing--full;

    @include small {
      padding: $spacing--half;
    }
  }

  &__heading {
    text-transform: uppercase;
    color: $color--gray-666;
  }

  &__value {
    margin-top: $spacing--half;
  }

  &__icon {
    display: inline-flex;
    margin-left: $spacing--natural;
  }
}

.spell-components {
  > abbr {
    text-decoration: none;

    &:not(:first-child) {
      &::before {
        content: ', ';
      }
    }
  }
}
