@import '../../utilities/scss/_vars';
@import '../../utilities/scss/_mixins';

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: $color--white;
  color: $color--black;

  @include darkMode {
    background-color: $color--gray-222;
    color: $color--white;
  }
}

.App-header {
  background-color: $color--gray-222;
  flex: 0 1 0;
  padding: 1.5em;
  color: white;
}

.App-title {
  font-size: x-large;
}

.App-main {
  flex: 1 1 100%;
  position: relative;
}

.App-main-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App-section {
  display: flex;
  flex-direction: column;

  @include small {
    flex: 0 0 100%;
  }

  @include mediumAndLarge {
    flex: 0 0 50%;

    & + & {
      border-left: 1px solid $color--gray-666;
    }
  }

  &--detail {
    transition: bottom $transition--default;
    z-index: 1;

    @include small {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: -100%;

      &.is-active {
        bottom: 0;
      }
    }

    @include mediumAndLarge {
      position: relative;
    }
  }
}

.App-spell-list {
  flex: 1 1 100%;
  position: relative;
}

.App-spell-list-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.no-spell-selected {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $color--gray-666;

  &__header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: larger;
    margin-bottom: $spacing--half;
  }
}

.App-toast {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 2;
}
