@use 'utilities/scss/vars' as *;
@use 'utilities/scss/mixins' as *;

$select--icon-width: 10px;

.select-container {
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.select-icon-container {
  box-sizing: content-box;
  width: $select--icon-width;
  padding: $spacing--quarter $spacing--half;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.select {
  @include reset-input;
  padding: {
    top: $spacing--quarter;
    right: calc(#{$spacing--full} + #{$select--icon-width});
    bottom: $spacing--quarter;
    left: $spacing--half;
  }
}
