@use 'utilities/scss/vars' as *;
@use 'utilities/scss/mixins' as *;

.check {
  font-size: small;
  display: inline-flex;
  align-items: center;

  @include small() {
    font-size: inherit;
  }

  > *:not(:last-child) {
    margin: 0 $spacing--half 0 0;
  }

  &__label {
    @include smallAndMedium() {
      display: none;
    }
  }
}

.big-check {
  @include ratioHeight();
  border-radius: 50%;
  background-color: darkgray;
  width: 50px;
  padding: $spacing--half;

  &:not(.is-checked) {
    filter: grayscale(100%);
  }

  @include smallAndMedium() {
    width: 20px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;

    @include smallAndMedium() {
      font-size: large;
      text-indent: 5px; //Magic number needed because emojis aren't centered in their box
    }
  }
}
