@use 'utilities/scss/vars' as *;
@use 'utilities/scss/mixins' as *;

.text-label {
  display: block;
  width: 100%;
}

.text-input {
  @include reset-input;
  padding: $spacing--quarter $spacing--half;
}
