@import 'utilities/scss/_vars';
@import 'utilities/scss/_mixins';

.text-label {
  display: block;
  width: 100%;
}

.text-input {
  @include reset-input;
  padding: $spacing--quarter $spacing--half;
}
