$control-item--border-size: 1px;
$control-item--border-radius: 0.75em;

.control-container {
  padding: 0.5em 0.25em 0;
}

.control-section {
  display: flex;

  & + & {
    padding-top: 0.25em;
  }

  &--full {
    margin-right: -0.25em;
    margin-left: -0.25em;
  }
}

.control-item {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  width: 100%;

  &--input {
    border-top: $control-item--border-size solid;
    border-bottom: $control-item--border-size solid;
    border-left: $control-item--border-size solid;

    &:first-of-type {
      border-top-left-radius: $control-item--border-radius;
      border-bottom-left-radius: $control-item--border-radius;
    }

    &:last-of-type {
      border-right: $control-item--border-size solid;
      border-top-right-radius: $control-item--border-radius;
      border-bottom-right-radius: $control-item--border-radius;
    }
  }

  &--reset {
    position: relative;
    background-color: #000;
    flex: 0 0 50px;
  }

  &--sort {
    color: #fff;

    & + & {
      border-left: 1px solid;
    }
  }

  &--level {
    text-align: right;
  }
}

.reset-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5em;
  line-height: 1;
  width: 100%;
  height: 100%;
  margin-top: -1px;
}
