@import 'utilities/scss/_vars';
@import 'utilities/scss/_mixins';

$control-container--padding: $spacing--half;
$control-item--border-size: 1px;
$control-item--border-radius: 0.75em;

.control-container {
  padding: $control-container--padding $control-container--padding 0;
  overflow: hidden;
}

.control-section {
  display: flex;
  width: 100%;

  & + & {
    margin-top: $spacing--half;
  }

  &--full {
    width: calc(100% + #{$control-container--padding * 2});
    margin-right: $control-container--padding * -1;
    margin-left: $control-container--padding * -1;
  }

  &--evenly-spaced {
    align-items: center;
    justify-content: space-between;
  }
}

.control-toggle {
  width: 100%;
  padding: calc(#{$spacing--half} - 1px) 0;
  border: {
    top: 1px solid;
    bottom: 1px solid;
  }

  &__content {
    margin: $spacing--half ($spacing--half * -1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% + #{$spacing--full});
  }

  &__item {
    margin: $spacing--half;
    display: inline-flex;
    align-items: center;

    @include smallAndMedium() {
      margin: $spacing--quarter;
    }
  }
}

.control-item {
  flex: 1 1 100%;
  display: inline-flex;
  align-items: center;

  &--input {
    border-top: $control-item--border-size solid;
    border-bottom: $control-item--border-size solid;
    border-left: $control-item--border-size solid;

    &:first-of-type {
      border-top-left-radius: $control-item--border-radius;
      border-bottom-left-radius: $control-item--border-radius;
    }

    &:last-of-type {
      border-right: $control-item--border-size solid;
      border-top-right-radius: $control-item--border-radius;
      border-bottom-right-radius: $control-item--border-radius;
    }
  }

  &--reset {
    position: relative;
    background-color: $color--black;
    flex: 0 0 50px;
  }

  &--sort {
    color: $color--white;

    & + & {
      border-left: 1px solid;
    }

    @include darkMode {
      color: $color--black;
    }
  }

  &--level {
    text-align: right;
  }

  &--check {
    flex: 0 0 auto;

    & + & {
      margin-left: $spacing--half;
    }
  }
}

.reset-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: x-large;
  line-height: 1;
  width: 100%;
  height: 100%;
  margin-top: -1px;
}
