@import '../../utilities/scss/_mixins';

$control-item--border-size: 1px;
$control-item--border-radius: 0.75em;

.control-container {
  padding: 0.5em 0.5em 0;
  overflow: hidden;
}

.control-section {
  display: flex;
  width: 100%;

  & + & {
    margin-top: 0.5em;
  }

  &--full {
    width: calc(100% + 1em);
    margin-right: -0.5em;
    margin-left: -0.5em;
  }

  &--evenly-spaced {
    align-items: center;
    justify-content: space-between;
  }
}

.control-toggle {
  width: 100%;

  &__content {
    margin: 0.5em -0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% + 1em);
  }

  &__item {
    margin: 0.5em;
    display: inline-flex;
    align-items: center;

    @include smallAndMedium() {
      margin: 0.25em;
    }
  }
}

.control-item {
  flex: 1 1 100%;
  display: inline-flex;
  align-items: center;

  &--input {
    border-top: $control-item--border-size solid;
    border-bottom: $control-item--border-size solid;
    border-left: $control-item--border-size solid;

    &:first-of-type {
      border-top-left-radius: $control-item--border-radius;
      border-bottom-left-radius: $control-item--border-radius;
    }

    &:last-of-type {
      border-right: $control-item--border-size solid;
      border-top-right-radius: $control-item--border-radius;
      border-bottom-right-radius: $control-item--border-radius;
    }
  }

  &--reset {
    position: relative;
    background-color: #000;
    flex: 0 0 50px;
  }

  &--sort {
    color: #fff;

    & + & {
      border-left: 1px solid;
    }
  }

  &--level {
    text-align: right;
  }

  &--check {
    flex: 0 0 auto;

    & + & {
      margin-left: 0.5em;
    }
  }
}

.reset-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5em;
  line-height: 1;
  width: 100%;
  height: 100%;
  margin-top: -1px;
}
