.spell-list-item {
  cursor: pointer;
  border-left: 5px solid transparent;
  -webkit-tap-highlight-color: initial;

  &:focus,
  &.is-active {
    outline: none;
    border-left-color: currentColor;
  }

  .no-touch &:hover {
    background-color: #ccc !important;
  }

  &:nth-child(odd) {
    background-color: #eee;
  }

  > * {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  > *:first-child {
    padding-left: 0.75em;
  }

  > *:last-child {
    padding-right: 0.75em;
  }

  &__name {
    text-align: left;
  }

  &__level {
    color: #666;
    text-align: right;
    white-space: nowrap;
  }
}

.spell-icons {
  display: inline-flex;
  margin-left: 1ex;
}
