$size--medium-viewport-start: 768px;
$size--large-viewport-start: 1100px;

@mixin disable-callout() {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin reset-button() {
  @include disable-callout();

  background-color: transparent;
  border: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  -webkit-font-smoothing: inherit;
  margin: 0;
  padding: 0;
  //outline: none;
  display: block;
  text-align: inherit;
  overflow: hidden;

  &:not([disabled]) {
    cursor: pointer;
  }
}

@mixin reset-input {
  background: none transparent;
  border: none;
  box-shadow: none;
  display: block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  //outline: none;
  -webkit-appearance: none;
  width: 100%;
}

@mixin _breakpoint($media-queries) {
  $query-list: ();
  $keys: map-keys($media-queries);
  $values: map-values($media-queries);
  @for $i from 1 through length($keys) {
    $string: '(' + nth($keys, $i) + ':' + nth($values, $i) + ')';
    @if (length($query-list) != 0) {
      $string: 'and ' + $string;
    }
    $query-list: append($query-list, unquote($string));
  }

  @media #{$query-list} {
    @content;
  }
}

@mixin small() {
  @include _breakpoint(
    (
      max-width: (
        $size--medium-viewport-start - 1px,
      ),
    )
  ) {
    @content;
  }
}

@mixin smallAndMedium() {
  @include _breakpoint(
    (
      max-width: (
        $size--large-viewport-start - 1px,
      ),
    )
  ) {
    @content;
  }
}

@mixin medium() {
  @include _breakpoint(
    (
      min-width: $size--medium-viewport-start,
      max-width: (
        $size--large-viewport-start - 1px,
      ),
    )
  ) {
    @content;
  }
}

@mixin mediumAndLarge() {
  @include _breakpoint(
    (
      min-width: $size--medium-viewport-start,
    )
  ) {
    @content;
  }
}

@mixin large() {
  @include _breakpoint(
    (
      min-width: $size--large-viewport-start,
    )
  ) {
    @content;
  }
}

// https://a11yproject.com/posts/how-to-hide-content/
// https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
