@import 'utilities/scss/_vars';
@import 'utilities/scss/_mixins';

$spell-list--focus-indicator-width: 5px;

.spell-list-item {
  cursor: pointer;
  border-left: $spell-list--focus-indicator-width solid transparent;
  line-height: 1.2;
  -webkit-tap-highlight-color: initial;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  &.is-active {
    border-left-color: currentColor !important;
  }

  &:focus {
    outline: none;
    border-left-color: $color--gray-666;
  }

  &.is-odd {
    background-color: $color--gray-eee;

    @include darkMode {
      background-color: $color--gray-222;
    }
  }

  &.is-even {
    background-color: $color--white;

    @include darkMode {
      background-color: $color--gray-444;
    }
  }

  .no-touch &:hover {
    background-color: $color--gray-ccc !important;

    @include darkMode {
      background-color: $color--gray-666 !important;
    }
  }

  > * {
    &:not(:first-child) {
      padding-left: $spacing--full;
    }

    &:first-child {
      padding-left: calc(
        #{$spacing--full} - #{$spell-list--focus-indicator-width}
      );
    }

    padding: {
      top: $spacing--full;
      bottom: $spacing--full;
    }

    &:last-child {
      padding-right: $spacing--full;
    }
  }

  &__name {
    text-align: left;
    width: 100%;
  }

  &__level {
    color: $color--gray-666;
    text-align: right;
    white-space: nowrap;

    @include darkMode {
      color: $color--gray-ccc;
    }

    @include small {
      font-size: small;
    }
  }
}

.spell-icons {
  display: inline-flex;
  margin-left: $spacing--natural;
}
