.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-main {
  display: flex;
  width: 100%;
}

.App-main > * {
  flex: 0 0 50%;
}
